@layer base {
  body {
    background-color: #1a1c1f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (hover: none) and (pointer: coarse) {
    input,
    textarea,
    select {
      font-size: max(16px, 1em);
    }
  }
}
